<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>REdesTPsso</title>
    <script src="js/jquery-3.3.1.js"></script>
    <script>
        $(document).ready(function() {
            console.log("Habemus JQUERY");
            
        });
        
        $("#aparte").click(function() {
                console.log("Habemus click");
        });
    </script>
</head>



<body>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                    appId      : '187395018824701',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v3.1'
                });
                
                FB.AppEvents.logPageView();
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
            });
        };

        function statusChangeCallback(response){
            console.log(response)
            if(response.status == "connected"){
                console.log("se conecto El usuario: " + response.authResponse.userID)
                d = document.getElementById("AcaTenesTuBoton");
                d.style.display="none"
                i = document.getElementById("imgPerfil")
                i.src = "//graph.facebook.com/"+response.authResponse.userID+"/picture"
            }
        };
        window.closeSession = function(){
            console.log("CERRATE")
            FB.logout(function(response) {
                console.log(response)
                i = document.getElementById("imgPerfil")
                i.src = ""
                d = document.getElementById("AcaTenesTuBoton");
                d.style.display="inline"
                console.log("Mostrando")
            });
        }

        function clckEnLogin1(){
            console.log("Click en 1")
        }
        function clckEnLogin2(){
            console.log("Click en 2")
        }
    </script>


    
    

    
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1&appId=187395018824701&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);

            

            }(document, 'script', 'facebook-jssdk'));
    </script>

    <img id="imgPerfil" src="">

    <div id="aparte" onclick="clckEnLogin1()">ESCRIBILE ALGO ADENTRO PA VERLO DIGAMOS

        <div id="AcaTenesTuBoton" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
    </div>



    <input type="button" value="Cerrar" onclick="closeSession()"></input>

</body>
</html>